<!-- SPEAKERS -->
<section id="mentors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="uppercase">mentors</h2>
      </div>

      <ul id="list-speaker" class="list-unstyled">
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/berta.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/01-berta/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Berta Devant</h4>
              <p class="company">Novoda</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/daniel.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/11-daniel/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Daniel Steinberg</h4>
              <p class="company">Dim Sum Thinking</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/florent.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/07-florent/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Florent Pillet</h4>
              <p class="company">Freelance</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/guilherme.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/08-rambo/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Guilherme Rambo</h4>
              <p class="company">9to5mac</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/julia.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/13-julia/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Julia Vashchenko</h4>
              <p class="company">MacPaw</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/kalle.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/02-kalle/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Kalle Kabell</h4>
              <p class="company">Kabell & Munk</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/meghan.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/06-meghan/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Meghan Kane</h4>
              <p class="company">Novoda</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/michael2.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/12-michael/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Michael Brown</h4>
              <p class="company">Babylon Health</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/monica.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/04-monica/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Monika Mścichowska</h4>
              <p class="company">Polidea</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/olivier.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/09-olivier/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Olivier Halligon</h4>
              <p class="company">BabylonHealth</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/paulo.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/10-paulo/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Paulo Andrade</h4>
              <p class="company">Secrets</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/rodrigo.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/05-rodrigo/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Rodrigo López-Romero</h4>
              <p class="company">Adidas</p>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/speakers/tobias.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/03-tobias/"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Tobias Due Munk</h4>
              <p class="company">Kabell & Munk</p>
            </div>
          </div>
        </li>
      </ul>

      <!-- <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <a id="loadmore" class="button button-small button-line-dark">load more</a>
        </div> -->

      <!-- <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <p>more mentors to be announced shortly</p>
        </div> -->
    </div>
  </div>
</section>
