<!-- INFO -->
<section id="info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>We're back!</h1>

        <p class="lead">
          We're pleased to announce that our 2019 edition will once again be
          held in
          <a href="https://www.meliaria.com/hotel/">Hotel Meliá Ria</a> on 20th
          - 21st June, 2019.
        </p>
        <p class="lead">
          Our enthusiastic mentors will perform a 2 hours hands-on workshop in
          different areas. Each day has 6 slots with parallel sessions running
          at the same time in different rooms. Attendees will be able to join
          only 3 of them so choose wisely 😀
        </p>
        <p class="lead">
          Bring your laptop, come learn with us!
        </p>
      </div>

      <div class="col-lg-10 col-lg-offset-1 col-md-12 text-center hidden">
        <div class="row">
          <div class="feature col-lg-4 col-md-4 col-sm-4">
            <i class="pe-4x pe-7s-refresh-2"></i>
            <h4>New Topics</h4>
            <p>
              Sed facilisis justo risus viverra vulputate. Mauris vel ipsum diam
              condimentum tempus purus.
            </p>
          </div>

          <div class="feature col-lg-4 col-md-4 col-sm-4">
            <i class="pe-4x pe-7s-micro"></i>
            <h4>12 Keynote Speakers</h4>
            <p>
              Sed facilisis justo risus viverra vulputate. Mauris vel ipsum diam
              condimentum tempus purus.
            </p>
          </div>

          <div class="feature col-lg-4 col-md-4 col-sm-4">
            <i class="pe-4x pe-7s-headphones"></i>
            <h4>Multilingual Support</h4>
            <p>
              Sed facilisis justo risus viverra vulputate. Mauris vel ipsum diam
              condimentum tempus purus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
