<section id="program">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="uppercase">PROGRAM</h2>
        <!-- <p class="lead">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p> -->

        <!-- SCHEDULE TAB -->
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a
              href="#day1"
              id="day1-tab"
              role="tab"
              data-toggle="tab"
              aria-controls="day1"
              aria-expanded="true"
              >Day 1</a
            >
          </li>
          <li role="presentation" class="">
            <a
              href="#day2"
              role="tab"
              id="day2-tab"
              data-toggle="tab"
              aria-controls="day2"
              aria-expanded="false"
              >Day 2</a
            >
          </li>
          <li role="presentation" class="">
            <a
              href="#day3"
              role="tab"
              id="day3-tab"
              data-toggle="tab"
              aria-controls="day3"
              aria-expanded="false"
              >Day 3</a
            >
          </li>
        </ul>

        <!-- CONTENT -->
        <div id="myTabContent" class="tab-content">
          <!-- DAY 1 -->
          <div
            role="tabpanel"
            class="tab-pane fade active in"
            id="day1"
            aria-labelledby="day1-tab"
          >
            <div
              class="panel-group"
              id="accordion1"
              role="tablist"
              aria-multiselectable="true"
            >
              <!-- PROGRAM 1-->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">08:00</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Registration
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">09:00</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Welcome presentation
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">09:15</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Mentor pitches
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">10:15</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Coffee Break
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">10:30</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        First round of workshops
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">12:30</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Lunch
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">14:00</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Second round of workshops
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">16:00</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Coffee Break
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">16:15</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Last round of workshops
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- DAY 2 -->
          <div
            role="tabpanel"
            class="tab-pane fade in"
            id="day2"
            aria-labelledby="day2-tab"
          >
            <div
              class="panel-group"
              id="accordion2"
              role="tablist"
              aria-multiselectable="true"
            >
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">09:00</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Mentor pitches
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">10:00</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Coffee Break
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">10:15</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        First round of workshops
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">12:15</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Lunch
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">13:45</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Second round of workshops
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">15:45</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Coffee Break
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">16:00</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Last round of workshops
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- DAY 3 -->
          <div
            role="tabpanel"
            class="tab-pane fade in"
            id="day3"
            aria-labelledby="day3-tab"
          >
            <div
              class="panel-group"
              id="accordion3"
              role="tablist"
              aria-multiselectable="true"
            >
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading1">
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                      <p class="date">09:00</p>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                      <h4 class="panel-title">
                        Optional leisure activities (TBD)
                      </h4>
                    </div>
                  </div>
                </div>
              </div>

        </div>
      </div>
    </div>
  </div>
</section>
