<section id="jobs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="uppercase">job board</h2>
        <p class="lead">
          Job offers from our sponsors
        </p>
        <table class="table">
          <tr>
            <td>
              <a
                href="https://farfetchcareers.com/job-detail/engineering-lead-_-ios"
                >Engineering Lead - iOS</a
              >
            </td>
            <td>Farfetch</td>
            <td>Porto, Portugal</td>
          </tr>
          <tr>
            <td>
              <a href="https://farfetchcareers.com/job-detail/ios-engineer"
                >iOS Engineer</a
              >
            </td>
            <td>Farfetch</td>
            <td>Porto, Portugal</td>
          </tr>
          <tr>
            <td>
              <a href="/assets/docs/xing-ios.docx">iOS Engineer</a>
            </td>
            <td>Xing</td>
            <td>Porto, Portugal</td>
          </tr>
          <tr>
            <td>
              <a href="https://prozis.breezy.hr/p/b753ab9122ca01-ios-developer"
                >iOS Developer</a
              >
            </td>
            <td>Prozis</td>
            <td>Maia, Portugal</td>
          </tr>
          <tr>
            <td>
              <a
                href="https://prozis.breezy.hr/p/bb62e07a1c4301-android-developer"
                >Android Developer</a
              >
            </td>
            <td>Prozis</td>
            <td>Esposende / Maia, Portugal</td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.altran.com/pt/pt-pt/carreiras/candidate-se-ja/?_3x10279S3Z6U3K35100fc2-3ba8-4144-a8e6-0d0f465c37c6&offerid=19512&iframeredirect=1"
                >iOS Developer Advanced/Senior</a
              >
            </td>
            <td>Altran</td>
            <td>Porto, Portugal</td>
          </tr>
          <tr>
            <td>
              <a
                href="https://www.altran.com/pt/pt-pt/carreiras/candidate-se-ja/?_3x15543S3Z3U12K1cca57d4-6fbb-4b3a-bac8-f852c50f2d66&offerid=26182&iframeredirect=1"
                >Android Developer Advanced/Senior</a
              >
            </td>
            <td>Altran</td>
            <td>Porto, Portugal</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
