<section id="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="uppercase">partners</h2>
        <div id="">
          <div class="sponsor">
            <a href="https://www.meliaria.com/hotel/"
              ><img class="" src="assets/img/hotel-meliaria.png" alt=""
            /></a>
          </div>
          <div class="sponsor">
            <a href="https://raywenderlich.com"
              ><img class="" src="assets/img/partners/rw2.png" alt=""
            /></a>
          </div>
          <div class="sponsor">
            <a href="https://www.manning.com"
              ><img class="" src="assets/img/partners/manning2.png" alt=""
            /></a>
          </div>
          <div class="sponsor">
            <a href="https://www.sketch.com"
              ><img class="" src="assets/img/partners/sketch.png" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
