<!-- VENUE -->
<section id="venue">
  <div class="venue">
    <div class="venue-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="uppercase">venue</h2>
            <p class="lead">
              The event will once again be held in the beautiful Meliá Ria hotel
            </p>
            <a href="https://www.meliaria.com/hotel/"
              ><h4>Hotel Meliá Ria</h4></a
            >
            <a href="https://www.meliaria.com/hotel/"
              ><img
                class="img-responsive"
                src="assets/img/hotel-meliaria-logo.png"
                alt="hotel"
            /></a>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4">
            <i class="pe-4x pe-7s-map-2"></i>
            <h4 class="uppercase">address</h4>
            <p>
              Cais da Fonte Nova, Lote 5<br />
              3810-200 Aveiro<br />
              Portugal
            </p>

            <a
              class="button button-xsmall button-line-light"
              href="https://www.meliaria.com/hotel/"
              >more information</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
