<!-- SPEAKERS -->
<section id="mentors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="uppercase">mentors</h2>
      </div>

      {% for mentor in site.data.mentors %}
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="" src="/assets/img/mentors/{{ mentor.slug }}.jpg" alt="" />
              <figcaption>
                <span
                  ><a class="html-popup" href="/mentors/{{ mentor.slug }}.html"
                    ><img
                      class="img-responsive"
                      src="assets/img/plus.png"
                      alt=""/></a
                ></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>{{ mentor.name }}</h4>
              <p class="company">{{ mentor.company }}</p>
            </div>
          </div>
        </li>
      {% endfor %}

    </div>
  </div>
</section>
