<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="uppercase">sponsors</h2>
        <p class="lead">
          Do you want to see your company in our event? Disclose your products?
          Are you sending more than 5 people and you would like to have a group
          discount? We have several sponsorship types, tech and non-tech.
          <a href="mailto:info@swiftaveiro.xyz"
            >Contact us for more information.</a
          >
        </p>

        <!-- <div>
          <div class="sponsor large">
            <a href="https://www.altran.com/"
              ><img class="" src="assets/img/sponsors/altran.png" alt=""
            /></a>
          </div>
        </div>

        <h3>Bronze sponsors</h3>
        <div>
          <div class="sponsor">
            <a href="https://www.farfetch.com/"
              ><img class="" src="assets/img/sponsors/ff.png" alt=""
            /></a>
          </div>
          <div class="sponsor">
            <a href="https://www.xing.com"
              ><img class="" src="assets/img/sponsors/xing.png" alt=""
            /></a>
          </div>
          <div class="sponsor">
            <a href="https://www.prozis.com/pt/pt/"
              ><img class="" src="assets/img/sponsors/prozis.png" alt=""
            /></a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
