<!-- FUNFACTS -->
<section id="funfacts">
  <div class="funfacts-inner">
    <div class="container">
      <div class="row">
        <h2 class="hidden">funfacts</h2>

        <div class="col-lg-10 col-lg-offset-1">
          <div id="funfacts-carousel">
            <div class="item">
              <i class="pe pe-4x pe-7s-world"></i>
              <div class="desc">
                <p class="number">10</p>
                <p class="description">countries</p>
              </div>
            </div>

            <div class="item">
              <i class="pe pe-4x pe-7s-micro"></i>
              <div class="desc">
                <p class="number">12</p>
                <p class="description">mentors</p>
              </div>
            </div>

            <div class="item">
              <i class="pe pe-4x pe-7s-display2"></i>
              <div class="desc">
                <p class="number">36</p>
                <p class="description">sessions</p>
              </div>
            </div>

            <div class="item">
              <i class="pe pe-va pe-4x pe-7s-id"></i>
              <div class="desc">
                <p class="number">60</p>
                <p class="description">attendees</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
