<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <!-- SLIDE 1 -->
      <li
        data-transition="slidevertical"
        data-slotamount="1"
        data-masterspeed="1000"
        data-thumb="assets/img/slide_thumb_1.jpg"
        data-saveperformance="off"
        data-title="Slide"
      >
        <!-- MAIN IMAGE -->
        <img
          src="assets/img/slide1.jpg"
          alt="fullslide1"
          data-bgposition="center top"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
        />
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div
          class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme"
          data-x="center"
          data-hoffset="250"
          data-y="center"
          data-voffset="-70"
          data-speed="600"
          data-start="800"
          data-easing="Power4.easeOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;"
        >
          SwiftAveiro
        </div>

        <!-- LAYER NR. 2 -->
        <div
          class="tp-caption light_medium_30_shadowed lfb ltt tp-resizeme"
          data-x="center"
          data-hoffset="250"
          data-y="center"
          data-voffset="-10"
          data-speed="600"
          data-start="900"
          data-easing="Power4.easeOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
        >
          June 25th — 26th &gt; 2020
        </div>
      </li>

      <!-- SLIDE 2 -->
      <li
        data-transition="slidevertical"
        data-slotamount="1"
        data-masterspeed="1000"
        data-thumb="assets/img/slide_thumb_2.jpg"
        data-saveperformance="off"
        data-title="Slide"
      >
        <!-- MAIN IMAGE -->
        <img
          src="assets/img/slide2.jpg"
          alt="fullslide2"
          data-bgposition="center top"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
        />
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div
          class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme"
          data-x="center"
          data-hoffset="270"
          data-y="center"
          data-voffset="-70"
          data-speed="600"
          data-start="800"
          data-easing="Power4.easeOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;"
        >
          A city to explore
        </div>

        <!-- LAYER NR. 2 -->
        <div
          class="tp-caption light_medium_30_shadowed lfb ltt tp-resizeme"
          data-x="center"
          data-hoffset="270"
          data-y="center"
          data-voffset="-10"
          data-speed="600"
          data-start="900"
          data-easing="Power4.easeOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
        >
          river and sea, together
        </div>
      </li>

      <!-- SLIDE 3 -->
      <li
        data-transition="slidevertical"
        data-slotamount="1"
        data-masterspeed="1000"
        data-thumb="assets/img/slide_thumb_3.jpg"
        data-saveperformance="off"
        data-title="Slide"
      >
        <!-- MAIN IMAGE -->
        <img
          src="assets/img/slide3.jpg"
          alt="fullslide6"
          data-bgposition="center top"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
        />
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div
          class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme"
          data-x="center"
          data-hoffset="215"
          data-y="center"
          data-voffset="-70"
          data-speed="600"
          data-start="800"
          data-easing="Power4.easeOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;"
        >
          Workshops
        </div>

        <!-- LAYER NR. 2 -->
        <div
          class="tp-caption light_medium_30_shadowed lfb ltt tp-resizeme"
          data-x="center"
          data-hoffset="215"
          data-y="center"
          data-voffset="-10"
          data-speed="600"
          data-start="900"
          data-easing="Power4.easeOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
        >
          hands-on learning and experimentation
        </div>
      </li>

      <!-- SLIDE 4 -->
      <li
        data-transition="slidevertical"
        data-slotamount="1"
        data-masterspeed="1000"
        data-thumb="assets/img/slide_thumb_4.jpg"
        data-saveperformance="off"
        data-title="Slide"
      >
        <!-- MAIN IMAGE -->
        <img
          src="assets/img/slide4.jpg"
          alt="fullslide7"
          data-bgposition="center top"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
        />
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div
          class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme"
          data-x="center"
          data-hoffset="270"
          data-y="center"
          data-voffset="-70"
          data-speed="600"
          data-start="800"
          data-easing="Power4.easeOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;"
        >
          Swift Community
        </div>

        <!-- LAYER NR. 2 -->
        <div
          class="tp-caption light_medium_30_shadowed lfb ltt tp-resizeme"
          data-x="center"
          data-hoffset="270"
          data-y="center"
          data-voffset="-10"
          data-speed="600"
          data-start="900"
          data-easing="Power4.easeOut"
          data-splitin="none"
          data-splitout="none"
          data-elementdelay="0.01"
          data-endelementdelay="0.1"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
        >
          Make new friends
        </div>
      </li>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
