<!-- NAVIGATION -->
<nav id="nav-primary" class="navbar navbar-custom" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#nav"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"
        ><img src="/assets/img/logo.svg" alt="logo" width="120" height="53"
      /></a>
    </div>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="nav navbar-nav navbar-right uppercase">
        <li><a data-toggle="elementscroll" href="/#info">About</a></li>
        <!-- <li><a data-toggle="elementscroll" href="/#mentors">Mentors</a></li> -->
        <!-- <li><a data-toggle="elementscroll" href="/#sponsors">Sponsors</a></li> -->
        <li><a data-toggle="elementscroll" href="/#program">Program</a></li>
        <!-- <li><a data-toggle="elementscroll" href="#register">Register</a></li> -->
        <!-- <li><a data-toggle="elementscroll" href="#gallery">Gallery</a></li> -->
        <!-- <li><a data-toggle="elementscroll" href="/#jobs">Jobs</a></li> -->
        <li><a data-toggle="elementscroll" href="/#tickets">Tickets</a></li>
        <li><a data-toggle="elementscroll" href="/#venue">Venue</a></li>
        <li>
          <a href="mailto:info@swiftaveiro.xyz"
            >Contact</a
          >
        </li>
        <!-- <li><a href="/blog">Blog</a></li> -->
        <li>
          <a
            href="/codeOfConduct.html"
            >Code of Conduct</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

{%- comment -%} {% assign navurl = page.url | remove: 'index.html' %}
<ul>
{% for item in include.navigation %}
  <li>
    <a href="{{ item.url }}"{% if item.url == navurl %} data-current="current page"{% endif %}>{{ item.text }}</a>
    {% if item.subitems %}
      {% include navigation.html navigation=item.subitems %}
    {% endif %}
  </li>
{% endfor %}
</ul> {%- endcomment -%}
