---
layout: default
---

<!-- slideshow -->
{% include home-slideshow.html %}
<!-- highlights -->
{% include home-highlights.html %}
<!-- funfacts -->
{% include home-funfacts.html %}
<!-- info -->
{% include home-info.html %}
<!-- mentors -->
{% include home-mentors.html %}
<!-- program -->
{% include home-program.html %}
<!-- sponsors -->
{% include home-sponsors.html %}
<!-- jobs -->
{% include home-jobs.html %}
<!-- tickets -->
{% include home-tickets.html %}
<!-- partners -->
{% include home-partners.html %}
<!-- venue -->
{% include home-venue.html %}

<!-- google map -->
<div id="gmap_canvas"></div>

<!-- <h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

  <section>

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section> -->
