/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
	Berlin - Portfolio Template
	Author : Tavonline
	Copyright 2018

/* Table of Content
==================================================

	1. Body and Core Css
	2. Home Section
	3. About Section
	4. Portfolio Section
	5. Contact Section
	6. Responsive
	7. Slider & Video Home


/*------------------------ 1 Body and Core Css ------------------------*/

body{
	font-family: 'Poppins', sans-serif;
}

html{
	height: 100%;
}

p{
    font-size: 14px;
    color: #252525;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
 }


nav{
    position: fixed;
    background: #fff;
    z-index: 1000;
    width: 100%;
    padding: 30px;
    display: none;
    -webkit-box-shadow: -5px 10px 12px -10px rgba(201,201,201,0.67);
    -moz-box-shadow: -5px 10px 12px -10px rgba(201,201,201,0.67);
    box-shadow: -5px 10px 12px -10px rgba(201,201,201,0.67);
}

.nav-menu{
    float: right;
    line-height: 32px;
}

nav ul li{
    float: left;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

nav ul li a{
    color: #000;
}

nav ul li a:hover{
    color: #afafaf!important;
}

.logo{
    float: left;
}

 .responsive{
    display: none;
    font-size: 23px;
}

.active{
    color:#afafaf;
}


footer{
    background: #000;
    padding: 90px 0;
    margin-top:90px;
    text-align: center;
}

footer p{
    line-height: 20px;
    margin-top: 20px;
}

.site-button:focus{
    outline: 0;
}

.nav-menu li a:focus{
    color: #000;
}

.ok{
    background: green !important;
    border: solid 2px green !important;
    color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.form-inp.reqError, .contact-form textarea.reqError {
    border-color: #f00;
}

.content{
    margin-top: 60px;
}

.subpage-nav{
    display:block !important;
    position: relative;
}

.page-title{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   z-index: 2;
   position: relative;
}

.page-title h1{
   font-size: 75px;
   color: #fff;
   font-weight: bold;
   letter-spacing: -3px;
   margin-bottom: 20px;
}


/* Margins */

.top_15{
    margin-top: 15px;
}

.top_30{
    margin-top: 30px;
}

.top_45{
    margin-top: 45px;
}

.top_60{
    margin-top: 60px;
}

.top_90{
    margin-top: 90px;
}

.top_120{
    margin-top: 120px;
}

.padding_30{
   padding: 30px 0;
}

.padding_45{
   padding: 45px 0;
}

.padding_60{
   padding: 60px 0;
}

.padding_90{
   padding: 90px 0;
}

.bottom_15{
    margin-bottom: 15px;
}

.bottom_30{
    margin-bottom: 30px;
}

.bottom_45{
    margin-bottom: 45px;
}

.bottom_60{
    margin-bottom: 60px;
}

.bottom_90{
    margin-bottom: 90px;
}

.bottom_120{
    margin-bottom: 120px;
}

.padbot_15{
    padding-bottom: 15px;
}

.padbot_30{
    padding-bottom: 30px;
}

.padbot_45{
    padding-bottom: 45px;
}

.padbot_60{
    padding-bottom: 60px;
}

.padbot_90{
    padding-bottom: 90px;
}

.padbot_120{
    padding-bottom: 120px;
}

/*preloader */
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
}

.loader {
    height: 1px;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
}


/*------------------------ 2 Home ------------------------*/

.home{
    background:url(../images/drone.jpg) bottom center;
    width: 100%;
    display: table;
}

.diag .home{
    background: no-repeat center url(../images/drone.jpg);
    background-size: cover;
}

.home-content{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   z-index: 2;
   position: relative;
}

.home-content h1{
   font-size: 75px;
   color: #fff;
   font-weight: bold;
   letter-spacing: -3px;
}

.home-content h2 {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    color: white;
    text-align: left;
    margin-bottom: 10px;
}


.home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.social{
    height: 30px;
}



.social a{
    color: #fff;
    font-size: 15px;
    margin:0 15px;
    transition: all ease 0.3s;
}


.social a:hover{
    transition: all ease 0.3s;
    opacity: 0.5;
}


.home-down {
    color: #fff;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 20px;
    display: inline-block;
    transition: all 0.3s ease;
}


.home-down:hover{
    color: #fff;
	transition:all 0.3s ease;
}

.home-down:focus{
    color: #fff;
}

/* arrow css3 animation */

@-webkit-keyframes bounce {
	 0%, 100% {-webkit-transform: translateY(0);}
	 50% {-webkit-transform: translateY(-20px);}
}

@-moz-keyframes bounce {
	 0%, 100% {-moz-transform: translateY(0);}
	 50% {-moz-transform: translateY(-20px);}
}

@-o-keyframes bounce {
	 0%, 100% {-o-transform: translateY(0);}
	 50% {-o-transform: translateY(-20px);}
}

@keyframes bounce {
	 0%, 100% {transform: translateY(0);}
	 50% {transform: translateY(-20px);}
}

 .bounce {
	 -webkit-border-radius:50%;
	 -moz-border-radius:50%;
	 -ms-border-radius:50%;
	 border-radius:50%;
	 animation: bounce 2s infinite;
	 -webkit-animation: bounce 2s infinite;
	 -moz-animation: bounce 2s infinite;
	 -o-animation: bounce 2s infinite;
}

.diagonal{
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background: #fff;
    float: left;
    z-index: 1000;
}

.diagonal-gray{
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background: #fff;
    float: left;
    z-index: 100;
    margin-top: 90px;
}

.diagonal-gray path {
       fill: #f5f5f5;
}

.diagonal-white{
    background: #f5f5f5;
    margin-bottom: -6px;
    margin-top: 60px;
}

.diagonal-white path {
    fill: #fff;
    stroke: #f5f5f5;
    stroke-width: 0;
}

.diagonal.home-left{
    position: absolute;
    bottom: 0;
    left: 0;
    background: none;
    z-index: 99;
}

.diagonal.home-right{
    position: absolute;
    bottom: 0;
    right: 0 !important;
    background: none;
    z-index: 99;
    left: auto;
}

.diagonal.home-left, .diagonal.home-right path {
    fill: #f5f5f5;
    stroke: #f5f5f5;
    stroke-width: 4;
}

.diag p{
    font-size: 18px;
    color: #748182;
    line-height: 28px;
}

.diag .section-title.dleft{
    text-align: left;
    padding: initial;
}

.diag .section-title.dleft .portfolio_filter ul{
    float: left;
}

.diag .section-title.dright{
    text-align: right;
    padding: initial;
}

.diag section{
    position: relative;
}

.diag .codeOfConduct .codeOfConduct-info li{
    line-height: 36px;
    font-size: 14.5px;
    color: #414141;
    text-align: left;
    list-style: none;
}

.diag .page-title.sub{
    font-size: 23px;
    text-align: right;
    width: 100%;
    float: right;
}

.diag .page-title.sub h5{
        font-weight: bold;
    line-height: 30px;
    padding-bottom: 15px;
}

.diag .social-icons a {
    color: #000;
    font-size: 13px;
    width: 26px;
    height: 18px;
    display: inline-block;
}

.diag .home-content h1{
    text-align: left;
}

.diag .home-content .social{
    text-align: left;
}

.diag .home-content .home-down.bounce{
    float: left;
    padding: 50px 74px 0;
}

.social-icons a:hover {
    font-size: 15px;
}

.fb:hover{
    color: #3b5998!important;
    transition: all ease 0.1s;
}

.tw:hover{
    color: #55acee!important;
    transition: all ease 0.1s;
}

.ins:hover{
    color: #cd486b!important;
    transition: all ease 0.1s;
}

.bh:hover{
    color: #1769ff!important;
    transition: all ease 0.1s;
}

.dr:hover{
    color: #ea4c89!important;
    transition: all ease 0.1s;
}


.sitebtn{
    border: solid 2px #dfdfdf;
    background: none;
    font-size: 13px;
    padding:9px 11px;
    text-align: left;
    min-width: 140px;
    line-height: 17px;
    transition: all ease 0.3s;
    color:#000;
}

.sitebtn:after{
    font-family: FontAwesome;
    content: "\f178";
    color: #000;
    float: right;
}

.sitebtn:focus{
    border: solid 2px #000;
}

.sitebtn:hover{
    background: #000;
    color: #fff;
    border-color: #000;
    transition: all ease 0.3s;
}

.sitebtn:hover:after{
    color: #fff;
}

.sitebtn:focus{
    border: solid 2px #dfdfdf;
}


/*------------------------ 3 About ------------------------*/
/*
.about.type-1 .about-image{
    padding-bottom: 70px;
    background: #e8e8e8;
}

.about.type-1 .about-image img:before{
    background: #e4e4e4;
}

.about.type-1 .about-image img{
    width: 100%;
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    margin-top: -15%;
    margin-left: calc(15% - 15px);
}

.about.type-1.vertiqal .about-image img{
    width: 100%;
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    margin-top: -15%;
    margin-left: -15%;
}*/

.diagonal-title h5{
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 31px;
}

.diagonal span{
    font-size: 15px;
    color: #b3b3b3;
    letter-spacing: 3px;
    margin-bottom: 5px;
    display: block;
}

.about{
    padding-top:90px;
 }

.diag .about{
    position: relative;
 }

.about-image img{
    width: 100%;
 }


.work-areas{
    width: 100%;
    display: inline-block!important;
}

.work-areas .area .icon i:before{
    font-size: 40px;
    margin-left: 5px;
}

.work-areas .area .icon i{
    display: inline-block;
}

.work-areas .area .icon {
    width: 20%;
    float: left;
}

.work-areas .area .text {
    width: 80%;
    float: left;
}

.work-areas .area .text h6{
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.work-areas .area .text p{
    font-size: 15px;
    line-height: 24px;
}


.about h2{
    font-size: 23px;
    line-height: 30px;
 }

.about-text{
    display: table;
    height: 407px;
 }

.out{
    display: table-cell;
   vertical-align: middle;
 }

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.gray-bg{
    margin-top: 90px;
    background: #f5f5f5;
}

.dgray-bg{
    background: #f5f5f5;
}

.what-can{
    padding: 90px 0;
}

.what-can .feature{
    text-align: center;
    margin-bottom: 30px;
}

.what-can .feature i{
    font-size: 40px;
}

.what-can .feature h3{
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 11px;
}

.what-can .feature p{
    line-height: 20px;
}



/*------------------------ 4 Portfolio ------------------------*/


.section-title{
    text-align: center;
    padding: 90px 0 60px 0;
}

.section-title h2{
    font-size: 23px;
    font-weight: bold;
}

.section-title p{
    line-height: 20px;
}

.portfolio_filter{
    text-align: center;
    padding-top: 15px;
}

.portfolio_filter ul{
    margin: auto;
    display: inline-block;
}

.portfolio_filter ul li{
    font-size: 14px;
    color: #777777;
    font-family: 'Poppins', sans-serif;
    float: left;
    margin-right: 15px;
    list-style: none;
    cursor: pointer;
}

.single_item {
    margin-bottom: 30px;
}

.single_item img{
    width: 100%;
    transition: all ease 0.3s;
}

.single_item img:hover {
  background: #ffffff;
  transition: all ease 0.3s;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

.select-cat{
    color:#000 !important;
}

.popup-youtube {
    position: relative;
}

.popup-youtube i{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.66);
    padding: 28px 29px;
    color: #fff;
    margin: -31px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}



/*------------------------ 5 Blog ------------------------*/

.staff-image img{
    width: 150px;
    height: 150px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    display: block;
    margin: 0 auto;
}

.blog-image img {
    width: 200px;
    height: 200px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    display: block;
    margin: 0 auto;
}

.blog-content {
    margin-bottom: 60px;
    cursor: pointer;
}

.blog-content .hoverFade {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.mentor.hoverFade:hover .bio, .mentor.hoverFade:focus .bio {
    opacity: 1;
}

.mentor {
    height: 365px;
}

.jobs {
    display: flex; 
    justify-content:space-between; 
    width: 75%;  
    margin-left: auto; 
    margin-right: auto;
}

.sponsor {
    height: 150px!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.sponsor img {
    width: 80%;
}

.sponsor p {
    margin-top: 5%;
}

.centerBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bio {
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
	right: 0;
}

.bio-content {
    transform: translate(0, -50%);
    position: relative;
    top: 50%;
}

.bio-title {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    padding: 30px 0 15px;
}

.bio-content .bio-details {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    color: #a9a9a9;
}

p.bio-details.small {
    font-size: 11px;
}

.bio-link {
    margin-top: 10px;
    font-size: 30px!important;
}

.blog-workshop {
    text-align: center;
}

i.fa.fa-twitter.bio-link {
    color: white!important;
}

.col-lg-4.col-md-4.col-sm-6.col-xs-12.blog-content.wow.fadeInUp {
    height: 365px;
}

.blog-title {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    padding: 30px 0 15px;
    text-align: center;
    color: #000;
}

.blog-info {
    font-size: 12px;
    font-weight: 400;
    color: #b9b9b9;
    display: block;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.blog .site-button {
    margin:0 auto 60px;
    display: table;
}

.blog-single h1 {
    font-size: 30px;
    line-height: 41px;
    margin: 25px 0 22px 0;
    color: #000;
    font-weight: 600;
    letter-spacing: -1px;
}

.blog-single .blog-detail{
    font-size: 13px;
    color: #b9b9b9;
    margin-bottom: 30px;
}

.blog-single .blog-detail span{
    color: #000;
}

.blog-single blockquote {
    font-size: 14px;
    line-height: 24px;
    color: #000;
    border-left: 4px solid #000;
    padding-left: 20px;
    margin: 40px 0;
}

.blog-single ul.list-style {
    padding: 30px;
    line-height: 24px;
}

.blog-single ul.list-style li {
    font-size: 14px;
    list-style: circle;
}

.lightbox-image img{
    width: 100%;
    padding-bottom: 30px;
}

.blog-single .post-lightbox{
    padding: 30px 0 0;
 }

.subtitle {
     font-size: 22px;
    line-height: 24px;
    margin: 25px 0 30px 0;
    color: #000;
    font-weight: bold;
}

.post-comment {
    float: left;
}

ul.post-comment li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #efefef;
    padding: 15px 0;
    list-style: none;
}

ul.post-comment li img {
    width: 15%;
    float: left;
}

ul.post-comment li .comment-info {
    float: left;
    width: 85%;
    padding-left: 15px;
        margin-top: 15px;
}


ul.post-comment li h3 {
    float: left;
    font-size: 14px;
}

ul.post-comment li a {
    float: right;
    font-size: 11px;
    font-weight: bold;
    color: #000;
}

ul.post-comment li span {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #c5c5c5;
    margin-top: 3px;
}

ul.post-comment li p {
    font-size: 12px;
    line-height: 20px;
    float: left;
    margin-top: 6px;
}

.send-message{
    margin-top:60px !important;
}

.send-message .subtitle{
    margin-bottom:30px;
}



/*------------------------ 5 Contact ------------------------*/

.codeOfConduct-info h4 {
    margin-top: 30px;
}

.codeOfConduct-info p {
    margin-top: 10px;
}

.contact-info i{
    width: 60px;
    height: 60px;
    text-align: center;
    background: #000;
    border-radius: 50px;
    color: #fff;
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 15px;
}

.contact-info p{
    line-height: 20px;
}

.section-title p{
    margin-top:20px;
}

.form-inp {
    width: 100%;
    height: 45px;
    border: 0;
    color: #000;
    border-bottom: solid 1px #dfdfdf;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-form textarea {
       width: 100%;
    border: 0;
    border-bottom: solid 1px #dfdfdf;
    font-size: 13px;
    padding: 20px 0 0 10px;
    height: 119px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-form{
    margin-top: 90px;
}

.contact-form .site-button{
    margin: auto;
    margin-top: 30px;
    display: block;
}

.button{
    text-align: center;
    padding: 45px 0;
}

.site-button{
    padding: 10px 50px;
    font-size: 12px;
    background: none;
    border: 2px solid;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    transition: all ease 0.3s;
}

a.site-button{
    border: 2px solid #000;
    color: #000;
}

.site-button:hover{
    background: #000;
    color: #fff;
    transition: all ease 0.3s;
}




/*------------------------ 6 Responsive ------------------------*/


/*max Width 992px */

@media screen and (max-width: 991px) {

    .home-content h1{
        font-size: 50px;
    }

     .what-can .feature{
        padding: 0 30px;
    }

    .about.type-1 .about-image{
        background: none;
    }

    .about.type-1 .about-image img{
        margin: 0;
    }

}


/*max Width 768px */

@media screen and (max-width: 767px) {



    .home-content h1{
        font-size: 32px;
        margin-bottom: 10px;
    }

    .contact-info{
        margin-bottom: 30px;
        padding: 0 50px;
    }

    .social a{
        margin: 0 10px;
        font-size: 12px;
    }

    nav{
        padding:30px 15px;
    }

    .nav-menu{
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }

    .nav-menu li{
        float: none;
        width: 100%;
        text-align: center;
        height: 45px;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
    }

    .responsive{
        float: right;
        display: block;
    }

    .about {
    padding-top: 60px;
    }

    .about h2 {
        margin-top: 30px;
    }

    .gray-bg {
        margin-top: 30px;
    }

    .what-can {
        padding: 45px 0;
    }

    .section-title {
        padding: 60px 0 45px 0;
    }

    .portfolio_filter ul{
        margin-top: 15px;
    }

    .portfolio_filter ul li{
        height: 30px;
    }

    .diagonal, .diagonal-gray, .diagonal-white{
        height: 70px;
    }

    .row.bottom_90{
        margin-bottom: 0;
    }

    .diag .blog{
        padding-bottom: 60px;
    }

    .diag p {
        text-align: center!important;
    }
}


/*min Width 768px */
@media screen and (min-width: 768px) {

 .nav-menu{
        display: block!important;
    }

}


/*------------------------ 7 Slider & Video Home ------------------------*/


.home-slider{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.slider{
    background: none !important;
}

.home-video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


#map {
    height: 400px;
    width: 100%;
}

#staff {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Center align countdown clock */

.countdownClock {
    display: inline-block;
    width: auto !important;
}

/* Hack countdown clock to fit in smaller widths */

@media screen and (max-width: 375px) {

    nav {
        padding: 5px 15px;
        background: rgba(255, 255, 255, 0.4);
        transition: all .2s ease;
    }

    nav.menu-visible {
        background:white;
    }

    .countdownClock {
    }

    .flip-clock-wrapper ul {
        width: 22px;
        height: 45px;
        font-size: 30px;
        line-height: 44px;
        margin: 1px;
    }

    .flip-clock-wrapper ul li {
        line-height: 44px;
    }

    .flip-clock-wrapper ul li a div {
        font-size: 30px;
    }
    
    .flip-clock-wrapper ul li a div div.inn {
        font-size: 30px; 
    }

    .flip-clock-divider {
        width: 10px;
        height: 50px; 
    }

    .flip-clock-divider .flip-clock-label {
        right: -35px;
    }

    .flip-clock-divider.minutes .flip-clock-label {
        right: -44px; 
    }

    .flip-clock-divider.seconds .flip-clock-label {
        right: -45px; 
    }

    .flip-clock-dot {
        width: 4px;
        height: 4px;
        left: 3px; 
    }
}   

h2.blog-title {
    padding: 10px;
}

h2.blog-title.largePadding {
    padding: 18px;
}

.blog-workshop {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.blog-info {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}